<form class="tarea-editor" #editorForm="ngForm" (ngSubmit)="onSubmit()">
	<div class="input-grid">
		<div class="input-col-1">
			<button mat-icon-button>
   				<mat-icon>check_circle_outline</mat-icon>
  			</button>
		</div>
		<div class="input-col-2">
			<mat-form-field >
				<input matInput (dblclick)="onDblClick()" #inputTarea="ngModel" name="inputNameTarea" [(ngModel)]="tarea.name" autocomplete="off" [readonly]="editando">
			</mat-form-field>
		</div>
		<div class="input-col-3">
			<button mat-icon-button color="warn">
   				<mat-icon>cancel</mat-icon>
  			</button>
		</div>
	</div>
</form>	