.tarea-editor
	font-size 12px
	mat-form-field
		width 100%
	.input-grid
		clear both
		.input-col-1
			width 35px
		.input-col-3
			width 35px
		.input-col-2
			width calc( 100% - 70px )
			.static
				width 100%
				font-weight: 400
				line-height 40px
				font-family: Roboto,"Helvetica Neue",sans-serif;
		& > div
			float left